<div class="space"> 
</div>

<mat-toolbar color="primary" >

 
    <div class="sub-menu">
      
        <Span>Teacher Login</Span>
    </div>
  </mat-toolbar>

 <div class="space"> 
</div>
 <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Your Full Name" value="">
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" placeholder="Your Secret code..." value="">
  </mat-form-field>
 
  <button mat-raised-button color="primary" class="login">Login</button>
 
  </form>
