<div class="space">
</div>
<div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
<form *ngIf="isHomeRoute()" class="example-form" (ngSubmit)="basicAuth()">



    <mat-form-field class="sub-menu">
        <mat-label>Select Role</mat-label>
        <mat-select name="selectedRole" [(ngModel)]="selectedRole">
            <mat-option value="" selected></mat-option>
            <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>



    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Your Full Name" value="" [(ngModel)]="username" name="username">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Email-id</mat-label>
        <input matInput placeholder="Your Email-Address" value="" [(ngModel)]="email" name="email">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="Your Secret code..." value="" [(ngModel)]="password" name="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" class="login">Login</button>

</form>


<div class="space">
</div>